<app-loading *ngIf="loading"></app-loading>

<mat-card class="card mainbody">
  <mat-card-content>
    <div class="example-container mat-elevation-z0">
      <div class="header">
        <mat-form-field>
          <label>
            <input matInput (keyup)="this.applyFilter($event.target.value)" (focus)="setupFilter('name')"
              placeholder="Search">
          </label>
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="table animate">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.email }}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{ user.phone }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
      </mat-table>
    </div>

  </mat-card-content>
</mat-card>